@charset "utf-8";
paragraph {
}
body {
    background-image: url(../images/Winter.png);
    background-color: #e29020;
    background-size: cover;
    color: #000000;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;

}


section  {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.money {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    width: 60%;
    background-color: #292F33;
    width: 40%;
    min-width: 250px;
    margin-left: auto;
    margin-right: 10%;
}
body h1 {
    text-align: center;
    margin-top: 120px;
}
.img-fluid {
    width: 45%;
    margin-right: 29%;
    margin-left: 29%;

}
#root div .playlist {
    margin-left: 35%;
    margin-right: 35%;
    padding-left: 0px;
}

#root div {
    margin-left: 10%;
    margin-right: 10%;
}
aside #root div .playlist {
    margin-left: -25%;
}

body aside h3 {
    color: #FFFFFF;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
#root div #iframe_yt1 {
    margin-left: -46px;
    width: 175%;
    height: 80%;
    min-width: 200px;
}

aside div .center_arrow img {
    margin-left: 25%;
}
.shows .e {





}











@media (max-width: 1199px) {
body {
    margin-top: 50px;
}

#root div .playlist {
}
.shows .text-right {
    margin-top: -52px;
}


  .navbar{
    position: fixed;
    right: 0;
    left: 0;   
    border-radius: 0;
    top: 0;
	z-index: 1300
  }      
.row {
    padding-top: 10%;
}


}

footer {
    bottom: 0px;
    position: static;
    height: 60px;
    background-color: #4F4F4F;
    text-align: center;
    width: 100%;
    overflow-x: visible;
    opacity: 0.96;
    clear: both;
}

aside  {
    background-color: #292F33;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 18%;
    padding-bottom: 20px;
    padding-left: 11%;
    width: 40%;
    margin-left: 50px;
    margin-top: 5px;
    margin-right: auto;
    min-width: 250px;
}
body iframe {
    padding-left: 5%;
    padding-right: 5%;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand img {
    width: 50%;
}







@media (min-width: 992px)  {

	.carousel-control-prev { left: -92px; }


	 .carousel-control-next { right: -92px; }
	.carousel-indicators {bottom: -42px}
aside {
    background-color: #292F33;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 18%;
    padding-bottom: 20px;
    padding-left: 11%;
    width: 40%;
    margin-left: 50px;
    margin-right: auto;
    min-width: 250px;
    float: left;
    margin-top: 5px;
}
.money {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    width: 60%;
    background-color: #292F33;
    width: 40%;
    min-width: 250px;
    float: right;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 5px;
}





	
}

@media (min-width: 768px) and (max-width: 991px) {
	
	
	 .carousel-control-prev { left: -86px; }
	 .carousel-control-next { right: -86px; }
	.carousel-indicators {bottom: -42px}
aside {
    background-color: #292F33;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 18%;
    padding-bottom: 20px;
    padding-left: 11%;
    width: 40%;
    margin-left: 50px;
    margin-right: auto;
    min-width: 250px;
    float: left;
    margin-top: 5px;
}
.money {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    width: 60%;
    background-color: #292F33;
    width: 40%;
    min-width: 250px;
    float: right;
    margin-left: auto;
    margin-right: 10%;
}

#root div .playlist {
    margin-left: 35%;
    margin-right: 35%;
}


}

@media (max-width: 767px) {
	

	
	.carousel-control-prev, 
	.carousel-control-next { display: none; }
	 .carousel-indicators li { margin-left: 10px; margin-right: 10px; }
	.carousel-indicators {bottom: -42px}
.money {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    width: 60%;
    background-color: #292F33;
    width: 40%;
    min-width: 250px;
    float: right;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 0px;
}


}

@media (max-width: 640px)
{
.money {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    width: 60%;
    background-color: #292F33;
    width: 40%;
    min-width: 250px;
    float: left;
    margin-right: 10%;
    margin-top: 17px;
    margin-left: 25%;
}
aside {
    background-color: #292F33;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 18%;
    padding-bottom: 20px;
    padding-left: 11%;
    width: 40%;
    margin-left: 25%;
    margin-right: auto;
    min-width: 250px;
    float: none;
    margin-top: 5px;
}
#root div .playlist {
    margin-left: 20%;
    margin-right: 20%;
}
.shows  {
    width: 90%;
    margin-left: 19px;
}
.row {
    padding-top: 25%;
}



}
@media (min-width: 640px) and (max-width: 768px) {
	.money {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    width: 60%;
    background-color: #292F33;
    width: 40%;
    min-width: 250px;
    float: right;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 0px;
}
aside {
    background-color: #292F33;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 18%;
    padding-bottom: 20px;
    padding-left: 11%;
    width: 40%;
    margin-left: 50px;
    margin-right: auto;
    min-width: 250px;
    margin-top: 5px;
    float: left;
}

#root div .playlist {
    margin-left: 32.5%;
    margin-right: 32.5%;
}
	
}



#root {
    display: flex;
}

@media (max-width: 922px)  {
	#root {
		display: compact;
	}
.row {
    padding-top: 10%;
}

}




.playlist {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0 20px;
    height: 270px;
    width: 150px;
    overflow-y: hidden;
}

.playlist-item {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  height: 90px;
  flex-shrink: 0;
  transition: all 0.3s;
}


.center_arrow{
    width: 80%;
    text-align: center;
}
#iframe_yt{
    margin-top: 29px;
    margin-left: -6%;
}
img:hover, .playlist-item:hover {
  cursor: pointer;
}
//podcasts code

#podcasts-player-container .wpb_raw_html {
    max-height: 145px; /* This is a fix for iPhone/Safari gap */
}
 
#podcasts-player-container .wpb_wrapper {
  line-height: 0;
}
 
#podcasts-player-container {
    zoom: 0.69; /* Fix for mobiles */
}
 
.styles__episodeFeed___3mOKz {
  position: relative;
  overflow-y: auto;
  background-color: #dcaf40;
  max-height: 417px;
  padding: 11px;
  margin-bottom: 70px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  color: #fff;
}
 
.styles__episodeFeedItem___1U6E2 {
  min-height: 106px;
  color: #292f36;
  background: #fff;
  border-radius: 4px;
  padding: 14px 12px;
  overflow: hidden;
  position: relative;
}
 
.styles__episodeFeedItem___1U6E2 a {
  color: inherit;
  text-decoration: none;
  text-align: left;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeImage___tMifW {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
  float: left;
  margin: 0 6px 10px 0;
  position: relative;
  width: 47px;
  height: 47px;
}
 
.styles__circle___1g-9u {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.styles__white___372tQ {
  background: #fff;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeImage___tMifW img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  vertical-align: middle;
}
 
.styles__playButton___1Ivi4 {
  cursor: pointer;
  text-align: center;
  padding: 0;
}
 
.styles__playButton___1uaGA {
  z-index: 0;
}
 
.styles__playButton___1Ivi4 svg {
  overflow: visible;
}
 
.styles__episodeFeedItem___1U6E2 a {
  color: inherit;
  text-decoration: none;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeHeading___29q7v {
  font-weight: 700;
  font-size: 15px;
  color: #292f36;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg, .styles__episodeFeedItem___1U6E2 p {
  color: rgba(41,47,54,.7);
  font-size: 13px;
  line-height: 14px;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg {
  clear: left;
  padding-right: 2px;
  text-align: left;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg, .styles__episodeFeedItem___1U6E2 p {
  color: rgba(41,47,54,.7);
  font-size: 13px;
  line-height: 14px;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p, .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
  margin-top: 8px;
  font-size: 11px;
  line-height: 13px;
  color: #c9cbcd;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
  float: right;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p, .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
  margin-top: 8px;
  font-size: 11px;
  line-height: 13px;
  color: #c9cbcd;
}
 
.styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p {
  float: left;
}
 
.styles__episodeFeed___3mOKz {
  margin-bottom: 73px;
}
 
.styles__episodeFeed___3mOKz {
  display: block;
}
 
@media (max-width: 768px) {
  .styles__episodeFeedItem___1U6E2 {
    margin-bottom: 10px;
  }
}
 
@media (min-width: 769px) {
 
  .styles__episodeFeed___3mOKz {
    padding: 35px;
  }
 
  .styles__episodeFeedItem___1U6E2 {
    padding: 25px 22px;
  }
  .styles__episodeFeed___3mOKz>div {
    margin-bottom: 23px;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeImage___tMifW {
    width: 56px;
    height: 56px;
    margin-right: 22px;
    margin-bottom: 0;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeHeading___29q7v {
    font-weight: 700;
    font-size: 18px;
    color: #292f36;
    margin-bottom: 4px;
    width: 365px;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg, .styles__episodeFeedItem___1U6E2 p {
    font-size: 16px;
    line-height: 18px;
    color: #7f8287;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg {
    clear: none;
    width: 465px;
    margin-left: 78px;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeDescription___C3oZg, .styles__episodeFeedItem___1U6E2 p {
    font-size: 16px;
    line-height: 18px;
    color: #7f8287;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p, .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
    margin: 0;
    float: none;
    position: absolute;
    font-size: 13px;
    line-height: 15px;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
    bottom: 12px;
    right: 22px;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p {
    top: 25px;
    right: 22px;
  }
  .styles__episodeFeedItem___1U6E2 .styles__episodeCreated___1zP5p, .styles__episodeFeedItem___1U6E2 .styles__episodeDuration___2I0Qb {
    margin: 0;
    float: none;
    position: absolute;
    font-size: 13px;
    line-height: 15px;
  }
 
}
